#menu {
    width: 100%;
    border-bottom: 2px solid #DDD;
    font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 5px;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu ul li {
    float: right;
    margin-right: 5px;
}

.tables {
    float: right;
    width: 100%;
    min-width: 500px;
    margin-bottom: 5px;
}
