.menu-title {
  display: none;
}

#menu {
  border: none;
}

#menu.horizontal {
  position: absolute;
  right: 0;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 2px solid #DDD;
}

#menu.horizontal ul {
  padding: 0;
  margin: 0;
}

#menu.horizontal ul li {
  float: left;
  margin-right: 5px;
}

#menu.horizontal ul li a{
  padding: 6px;
  color: #FFF;
  background: #000;
  border-radius: 8px 8px 0px 0px;
}

.tables {
  width: 100% !important;
}
